img {
  width: 50%;
  height: 50%;
  display: none;
}
i {
  font-size: 50px;
}
.active {
  display: inline-block;
}

.container {
  width: 70%;
  margin: auto;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
